body {
  background-image: url("../../assets/wallpaper.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  max-width: 600px;
  margin: 0;
}

.h1 {
  font-size: 24px;
  font-weight: bold;
  color: #b2734c;
  text-align: left;
}

.profile_form {
  width: 100%;
}

.label, .input, .button {
  display: block;
  width: 100%;
  margin: 10px 0;
}

.label {
  font-size: 18px;
  font-weight: bold;
  color: #b2734c;
  margin-bottom: 0.5rem;
  text-align: left;
}

.input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.buttons {
  display: flex;
  gap: 30px;
}

.inputButtonGroup {
  display: flex;
  align-items: center;
}

.input {
  flex: 1;
  margin-right: 50px;
}

.validate_button {
  padding: 10px;
  color: white;
  background-color: green;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.validate_button:hover {
  background-color: rgb(5, 105, 5);
}

.update_button {
  flex: 1;
  padding: 10px;
  color: white;
  background-color: #b2734c;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  flex-basis: 50%;
}

.update_button:hover {
  background-color: #8c5c4c;
}

.delete_button{
  flex: 1;
  padding: 10px;
  color: #fff;
  background-color:rgb(196, 38, 38);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  flex-basis: 50%;
}

.delete_button:hover {
  background-color:rgb(125, 18, 18);
}

.button:hover {
  background-color: #0056b3;
}

.dropdownContent input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
}

.dropdown_button {
  margin-top: 20px;
  padding: 10px;
  color: white;
  background-color: #b2734c;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: block;
  font-size: medium;
}

.dropdown_button:hover{
  background-color: #8c5c4c;
}

.dropdown {
  position: relative;
}

.dropdownContent {
  display: block;
  flex-direction: column;
  position: absolute;
  background-color: transparent;
  min-width: 160px;
  box-shadow: none;
  padding: 12px 16px;
  z-index: 1;
  width: 100%;
  border: 1px solid #ccc;
  align-items: center;
  justify-content: center;
}

.button {
  padding: 8px 20px;
  font-size: 14px;
  margin-top: 10px;
  width: auto;
  color: white;
  background-color: #007BFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
