@keyframes slideIn {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.container{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    position: relative;
    background-color:white;
    border-radius: 2rem;
    animation: slideIn 0.5s ease-in-out;
    margin-bottom: 2rem ;
}
.container h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    word-spacing: 1rem;
    color: #a06846;
}
.container form {
    display: flex;
    flex-direction: column;
}
.container input,textarea,button {
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 40rem;
    height: 3rem;
    background-color: #f1f1f1;
    transition: border-color 0.3s ease; /* Add transition for border color */
}
.container input[type="file"] {
    margin-bottom: 20px;
    background-color: #f1f1f1;
    transition: border-color 0.3s ease; /* Add transition for border color */
}
.container button {
    background-color: #a06846;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: border-color 0.3s ease; /* Add transition for border color */
}

.container button:hover {
    background-color: #a06846d7;
}