@keyframes slideIn {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.editProduct{
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    position: relative; 
    background-color:white;
    border-radius: 2rem;
    animation: slideIn 0.5s ease-in-out; /* Apply animation */

}
.editProduct h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    word-spacing: 1rem;
    color: #a06846;
}
.editProduct form {
    display: flex;
    flex-direction: column;
}
.editProduct label {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 1rem;
    color: #a06846;
}
.editProduct input[type="text"],input[type="number"] {
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 40rem;
    height: 3rem;
    background-color: #f1f1f1;
    transition: border-color 0.3s ease; /* Add transition for border color */

}
.editProduct button {
    background-color: #a06846;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    align-self: center;
    transition: background-color 0.3s ease; /* Add transition for background color */

}
.editProduct button:hover {
    background-color: #a06846d7;
}