.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items:center ;
  justify-content: center;
  background-color: #e8e8e8;
  background-image:url("https://th.bing.com/th/id/R.4b381554fd026eeba21b6f12931934e3?rik=IpUxCTb%2fAhu8fA&pid=ImgRaw&r=0") ;
  background-size: cover;
  
}

.container, .Login_form ,.SignUp_form{
  display: flex;
  flex-direction: column;
  background-color: whitesmoke ;
  align-items: center;
  padding: 2rem;
}
.login-form {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label{
  text-align: left;
  padding: 0.25rem 0;
}
input{
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}
button{
  border: none;
  background-color: white;
  padding: 5px;
  border-radius: 30px;
  cursor: pointer;
}
.link-button{
  background: none;
  color:blue ;
  text-decoration:underline ;

}
button:hover{
  opacity: 0.6;
}